*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: #31333b;
    height: 100vh;
}

#header{
    background-color: #35363b;
}

#welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.me{
    display: flex;
    flex-direction: column;
    margin: 200px 150px 0 0;
    gap: 10px;
    font-size: 30px;
}

.btn-contactMe{
    margin-top: 10px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    color: #ffc96b;
    background-color: #35363b;
    border: solid 4px#ffc96b;
    border-radius: 10px;
}

.btn-contactMe:hover{
    cursor: pointer;
    background-color: #27282B;
    transition: all 900ms ease-out;
    color: #AE8A4B;
}

.title{
    display: flex;
    display: row;
    align-items: center;
    gap: 10px;
}

.imgMe{
   padding-bottom: -30px; 
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 40px 0 40px;
    justify-content: center;
}

.navOption{
    display: flex;
    text-decoration: none;
    width: 50%;
    height: 30px;
    margin: 0 200px;
    align-items: center;
    justify-content: center;
}

.navOption > a{
    text-decoration: none;
    margin: 0 20px 0 20px;
    font-size: 20px;
    color: #9a9b9c;
}

.navOption > a:hover{
    color: white;
    transition: all 900ms ease-out;
}


.inputSearch{
    background-color: #3d3e42;
    border: none;
    height: 40px;
    width: 180px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 10px;
}

.sectionDif{
    background-color: #35363b;
}

.section{
    margin-bottom: 20px;
}

.cards > div > img {
    width: 90px;
}

.cards > div > p {
    margin-top: 10px;
}

.cards{
    display: grid;
    justify-content: center;
    align-items: center;    
    grid-gap: 35px;
    font-size: 20px;
    margin-top: 20px;
}

.cards > div {
    background-color: #3d3e42;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    width: 260px;
    height: 280px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.cards > div:hover{
    background-color: #f0bf6c;
    cursor: pointer;
    transition: all 400ms ease-out;
}

.one{
    grid-column: 1;
    grid-row: 1;
}

.two{
    grid-column: 2;
    grid-row: 1;
}

.three{
    grid-column: 3;
    grid-row: 1;
}

.four{
    grid-column: 4;
    grid-row: 1;
}

.five{
    grid-column: 1;
    grid-row: 2;
}

.six{
    grid-column: 2;
    grid-row: 2;
}

.seven{
    grid-column: 3;
    grid-row: 2;
}

.eight{
    grid-column: 4;
    grid-row: 2;
}   

.title{
    font-size: 50px;
}

.cardsPort{
    display: grid;
    justify-content: center;
    align-items: center;    
    grid-gap: 35px;
    font-size: 20px;
    margin-top: 20px;
}

.cardsPort > div > img{
    width: 450px;
    height: 482px;
}
