* {
    color: #FFFFFF;
}

body {
    background-color: #31333b;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sectionDif {
    background-color: #3d3e42;
}

#me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 0;
    opacity: 0;
}

.op {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin: 0 0 0 2vh;
    font-size: 18px;
}

.op > a {
    text-decoration: none;
}

.buscar {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 6px;
    right: 0;
    margin: 0 1vh 0 0;
}

.buscar > i {
    position: absolute;
    right: 0;
    margin: 0.3vh 2.5vh 0 0;
    z-index: 1;
}

.buscar > input {
    width: 80%;
    background-color: #31333b;
    border-radius: 1vh;
    border: none;
    padding: 1vh 5vh 1vh 1vh; 
    box-sizing: border-box;
    z-index: 1;
}

#intro {
    position: relative;
    height: 25vh;
    margin: -1vh 0 0 0;
    box-shadow: 0px 9px 12px -10px rgb(29, 31, 36);
}

.introText {
    height: 100%;
    margin: 0 0 0 3vh;
    position: relative;
    z-index: 1;
}

.introText > a {
    border: solid 2px #ffc86b;
    color: #ffc86b;
    padding: 0.6vh;
    text-decoration: none;
    border-radius: 0.5vh;
}

.introTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    margin: 0 0 -3vh 0;
}

.introTitle > h2 {
    color: #ffc86b;
}

.introImg {
    position:absolute;
    bottom: 0;
    right: 0;
}

.introImg > img {
    position:absolute;
    width: 22vh;
    bottom: 0;
    right: 0;
    z-index: 0;
    transform: scaleX(-1);
    filter: grayscale(50%);
}

.introImg > div {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 0.5vh 0.5vh 0;
}

.vLine{
    border: solid 1px #ffc86b;
    height: 8vh;
    width: 0vh;
    margin: 0 0 1vh 0;
}

.introVline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introVline > a {
    z-index: 1;
}

#aboutMe{
    padding: 3vh 5vh 0 5vh;
}

.hLine{
    border: solid 1px #ffc86b;
    width: 12vh;
    height: 0vh;
    margin: 2.5vh 1vh 0 0;
}

.abMText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.imp{
    color: #ffc86b;
}

#habs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#skills{
    display: grid;
    gap: 3vh;
}

.gridImage {
    background-color: #3d3e42;
    display: flex;
    width: 16vh;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2vh;
}

.gridImage:hover{
    background-color: #ffc86b;
    transition: all ease 800ms;
}

.gridImage > a{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
}

.gridImage > a > img{
    width: 9vh;
    height: 10vh;
}

.gridImage > a > p{
    font-size: 2vh;
    height: 20px;
}

.one{
    grid-column: 1/2;
    grid-row: 1;
}

.two{
    grid-column: 2/2;
    grid-row: 1;
}

.dot1{
    position: absolute;
    z-index: -1;
    width: 30vh;
    height: 40vh;
    margin: -33vh 0 0 0;
    right: 0;
}

#port{
    display: flex;
    margin: 5vh 0 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.imgPort{
    width: 40vh;
    margin-bottom: 1vh;
}

.btnPort{
    border-radius: 1vh;
    border: none;
    background-color: #ffc86b;
    color: #3d3e42;
    height: 5vh;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPort:hover{
    background-color: #9b7b45;
    cursor: pointer;
    transition: all ease 800ms;
}

#port > h1{
    margin-bottom: 3vh;
}

#port > div{
    margin-top: -2vh;
}

.portItem {
    position: relative;
    display: inline-block;
    margin-bottom: 20px; 
}

.imgPort {
    display: block;
}

.btnMore{
    margin-top: -2vh;
}

.redirect1,
.redirect2,
.redirect3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.2%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portItem:hover .redirect1,
.portItem:hover .redirect2,
.portItem:hover .redirect3 {
    opacity: 1; 
}

.redirect1 h3,
.redirect2 h3,
.redirect3 h3 {
    margin-top: 0;
    margin-bottom: -1vh;
}

.redirect1 p,
.redirect2 p,
.redirect3 p {
    margin-bottom: 10px;
}

.redirect1 a,
.redirect2 a,
.redirect3 a {
    text-decoration: none;
}

#exp {
    display: flex;
    flex-direction: column;
    height: 30%;
    margin: 5vh 0 0 0;
    box-shadow: 0px -25px 20px -20px rgb(29, 31, 36), 0px 25px 20px -20px rgb(29, 31, 36), 25px 0 20px -20px rgb(29, 31, 36);
}

#exp > h1{
    position: absolute;
    margin: -22px 0 0 1.2vh;
}

#exp > div{
    margin: 2vh 0 0 0;
    display: flex;
    flex-direction: row;
    font-size:px;
}

.dot{
    border: solid 7px #ffc86b;
    height: 0vh;
    width: 0vh;
    margin: 0 1vh 0 1vh;
    border-radius: 100%;
    filter: drop-shadow(0 0 0.75rem #ffc86b);
}

.expVLine{
    border: solid 1px #FFFFFF;
    width: 0;
    height: 9vh;
    margin: 0.8vh 0 0 1.62vh;
}

.expItem {
    padding: 2vh 0 0 2vh;
}

.expItem > p{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); ;
    background-color: #5d5e61;
    width: 8vh;
    height: 3.4vh;
    justify-content: center;
    align-items: center;
    padding: 1vh 2vh 0 1vh;
    margin-top: 0vh;
    font-size: 21px;
    filter: drop-shadow(0 0 0.75rem #3d3e42);
}

.expItem > div > p{
    color: #999a9b;
}

.expItem > div > h5{
    margin-top: -2vh;
}

.sep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -0.5vh;
    height: 15vh;
}

.expText{
    margin-top: -1vh;
}

.expText > p{
    margin-top: -6px;
    font-size: 15px;
    padding-right: 12vh;
    text-align: justify;
}

.dot2{
    width: 12vh;
    margin: 1.6vh 0 -2vh -1.2vh;
}

#test{
    height: 60%;
    padding-bottom: 3vh;
}

#test > h1 {
    margin: 2vh 0 0 5vh;
}

.testItem {
    display: flex;
    flex-direction: row;
}

.testHline{
    margin: 2vh 5vh 0 5vh;
    text-align: justify;
}

.hlineSubject1 {
    display: flex;
    flex-direction: row;
}

.hlineSubject2{
    margin: 0 0 0 4vh;
}

.hlineSubject2 > div{
    margin-top: -2vh;
}

.hlineSubject2 > div > div{
    width: 2vh;
}

.hlineSubject2 > div > p{
    color: #8d8e90;
}

.hlineSubject2{
    font-size: 15px;
}

.hlineSubject2 > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hLineTest{
    border: solid 1px #ffc86b;
    width: 12vh;
    height: 0vh;
    margin: 0 1vh 0 0;  
}

.testImg > img{
    opacity: 0;
    width: 0px;
}

#contact{
    position: relative;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    box-shadow: 0px -15px 20px -20px rgb(29, 31, 36), 0px 15px 20px -20px rgb(29, 31, 36), 25px 0 20px -20px rgb(29, 31, 36);
}

.compContact{
    display: flex;
    flex-direction: row;
}

.compContact > h1{
    position: relative;
    margin-top: -20px;
    width: 60%;
}

.hline1{
    position: absolute;
    border: solid 1px #ffc86b;
    width: 20%;
    height: 0vh;
    left: 0;
}

.hline2{
    position: absolute;
    border: solid 1px #ffc86b;
    width: 20%;
    height: 0vh;
    right: 0;
}

.hline3{
    position: absolute;
    display: flex;
    border: solid 1px #ffc86b;
    width: 40%;
    height: 0vh;
    left: 0;
    bottom: 0;
}

.hline4{
    position: absolute;
    border: solid 1px #ffc86b;
    width: 40%;
    height: 0vh;
    right: 0;
    bottom: 0;
}

.contactFoot{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    right: 50%;
    bottom: 0;
    margin-bottom: -12px;
}

.icons{
    position: absolute;
    top: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 1vh;
}

.icons > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 230px;
    gap: 0.5vh;
    padding: 0 2vh;
    background-color: #31333b;
    border-radius: 1vh;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.footer{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > h1 {
    color:  #ffc86b;
}


@media screen and (min-width: 768px) and (max-width: 1023px){
    .logo {
        width: 10%;
        opacity: 1;
        padding: 1vh;
    }

    .logo > img {
        width: 8vh;
    }

    .op {
        width: 65%;
        gap: 2.5vh;
        margin: 0 auto;
        font-size: 3vh;
    }

    .buscar {
        width: 25%;
        gap: 6px;
        margin: 0 2vh 0 0;
    }

    .buscar > input {
        width: 100%;
        height: 5vh;
        font-size: 3vh;
        z-index: 1;
    }

    .buscar > i {
        font-size: 2.8vh;
        z-index: 1;
    }

    #intro{
        font-size: 22px;
        padding: 2vh 0 0 3vh;
    }

    .introImg > div{
        margin: 0 1.4vh 1vh 0;
    }

    .vLine{
        height: 10vh;
    }

    .abMText > p{
        font-size: 25px;
        margin: 0vh 0 0 0;
    }

    .hLine{
        margin: 1vh 1vh 0 0;
    }

    .one{
        grid-column: 1/3;
        grid-row: 1;
    }

    .two{
        grid-column: 2/3;
        grid-row: 1;
    }
    
    .three{
        grid-column: 3/3;
        grid-row: 1;
    }

    .dot1{
        width: 26vh;
        height: 36vh;
        margin: -29vh 0 0 0;
    }

    #port > h1,
    #aboutMe > h1,
    #habs > div > h1,
    #exp > h1,
    #test > h1,
    #contact > div > h1{
        font-size: 4vh;
    }

    .imgPort{
        width: 60vh;
        margin-bottom: 1vh;
    }

    .btnPort{
        height: 5vh;
        width: 15vh;
        font-size: 25px;
    }

    .redirect1 h3,
    .redirect2 h3,
    .redirect3 h3 {
        font-size: 3vh;
        margin-bottom: -2.5vh;
    }

    .redirect1 p,
    .redirect2 p,
    .redirect3 p {
        font-size: 3vh;
    }

    .expText{
        margin-top: -1.4vh;
    }

    .expItem > p{
        width: 4vh;
        height: 3.3vh;
    }

    .expText > h3{
        font-size: 2.3vh;
    }

    .expText > h5 {
        font-size: 1.5vh;
    }

    .expText > p {
        font-size: 2vh;
    }

    .hlineSubject1 > div{
        margin: 2.6vh 1vh 0 0;
    }

    .hlineSubject1 > p {
        margin-right: 4vh;
        font-size: 18px;
    }

    .testItem{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
    }

    .testHline {
        width: 60%;
    }

    .testImg > img {
        opacity: 1;
        width: 25vh;
    }

    .testImg{
        width: 33%;
        display: flex;
        justify-content: end;
        text-align: center;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .bgImg{
        background-color: #ffc86b;
        width: 24vh;
        height: 24vh;
        position: absolute;
        z-index: -1;
        bottom: 0;
        border-radius: 3vh 0 0 3vh;
    }

    .hlineSubject2{
        font-size: 18px;
    }

    .hlineSubject2 > div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .hLineTest{
        border: solid 1px #ffc86b;
        width: 12vh;
        height: 0vh;
        margin: 0 1vh 0 0;
    }

    #contact{
        height: 15rem;
    }

    .hline1{
        width: 30%;
    }

    .hline2{
        width: 30%;
    }

    .hline3{
        width: 45%;
    }

    .hline4{
        width: 45%;
    }

    .contactFoot{
        font-size: 2.5vh;
    }

    .icons > div{
        width: 30vh;
        font-size: 2vh;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1299px){
    .logo {
        width: 10%;
        opacity: 1;
        padding: 1vh;
    }

    .logo > img {
        width: 6vh;
    }

    .op {
        width: 64%;
        gap: 3vh;
        margin: 0 auto;
        font-size: 3.2vh;
    }

    .buscar {
        width: 16%;
        gap: 6px;
        margin: 0 2vh 0 0;
    }

    .buscar > input {
        width: 100%;
        height: 4vh;
        font-size: 2.5vh;
        z-index: 1;

    }

    .buscar > i {
        font-size: 2vh;
        z-index: 1;
    }

    #intro {
        font-size: 22px;
        padding: 12vh 0 0 3vh;
    }

    .introImg > div {
        margin: 0 1.4vh 1vh 0;
    }

    .introImg > img {
        width: 30vh;
    }

    .vLine {
        height: 10vh;
        border: solid 2px #ffc86b;
        border-radius: 2vh;
    }

    .introVline > a{
        font-size: 2.2vh;
    }

    .introText{
        font-size: 2.5vh;
        margin-top: -10vh;
    }

    .introTitle {
        margin-bottom: -4vh;
    }

    #port > h1,
    #aboutMe > h1,
    #habs > div > h1,
    #exp > h1,
    #test > h1,
    #contact > div > h1{
        font-size: 4vh;
    }

    .abMText > p{
        font-size: 25px;
        margin: 0vh 0 0 0;
    }

    .hLine{
        margin: 0.8vh 1vh 0 0;
    }

    .one{
        grid-column: 1/4;
        grid-row: 1;
    }

    .two{
        grid-column: 2/4;
        grid-row: 1;
    }
    
    .three{
        grid-column: 3/4;
        grid-row: 1;
    }

    .four{
        grid-column: 4/4;
        grid-row: 1;
    }

    .portItem{
        margin-bottom: 0;
    }

    #skills{
        gap: 2vh;
    }

    .dot1{
        width: 20vh;
        height: 20vh;
        margin: -10vh 0 0 0;
        right: 0;
    }

    .imgPort{
        width: 33vh;
    }

    .portItems{
        display: grid;
        gap: 2vh;
        margin-bottom: 3vh;
    }

    .portOne{
        grid-column: 1/2;
        grid-row: 1;
    }
    .portTwo{
        grid-column: 2/2;
        grid-row: 1;
    }

    .portThree{
        grid-column: 1/2;
        grid-row: 2;
    }

    .btnPort{
        height: 5vh;
        width: 15vh;
        font-size: 30px;
    }

    .redirect1 h3,
    .redirect2 h3,
    .redirect3 h3 {
        font-size: 2.5vh;
        margin-bottom: -1.4vh;
    }

    .redirect1 p,
    .redirect2 p,
    .redirect3 p {
        font-size: 2vh;
    }

    #exp{
        height: 18rem;
    }

    .expText{
        margin-top: -1.4vh;
    }

    .expItem > p{
        width: 4vh;
        height: 3.3vh;
    }

    .expText > h3{
        font-size: 2.3vh;
    }

    .expText > h5 {
        font-size: 1.5vh;
    }

    .expText > p {
        font-size: 2vh;
    }

    #exp > h1{
        margin: -35px 0 0 2vh;
    }

    .expItem > p{
        width: 8vh;
        height: 4vh;
        font-size: 2.4vh;
    }

    .sep{
        margin: -1vh 0 0 0;
    }

    .dot{
        border: solid 15px #ffc86b;
        margin: 1vh 1vh 0 1vh;
    }

    .expVLine{
        border: solid 2px #FFFFFF;
        width: 0;
        height: 8vh;
        border-radius: 2vh;
        margin: 0.8vh 0 0 1.9vh;
    }
    
    .expText > p{
        margin-top: -1.5vh;
        font-size: 2vh;
    }

    .hlineSubject1 > p{
        font-size: 30px;
        padding-right: 5vh;
    }

    .hlineSubject1 > div{
        margin: 3.15vh 1vh 0 0;
    }

    .hlineSubject2 > p{
        font-size: 30px;
    }

    .hlineSubject2 > div > p{
        font-size: 28px;
    }

    .hlineSubject2 > div {
        margin: -4vh 0 0 0;
    }

    #contact {
        height: 20rem;
    }

    .hline1{
        width: 30%;
    }

    .hline2{
        width: 30%;
    }

    .hline3{
        width: 45%;
    }

    .hline4{
        width: 45%;
    }

    .contactFoot{
        font-size: 2.5vh;
    }

    .icons > div{
        width: 30vh;
        font-size: 2vh;
    }

    .footer > h1{
        font-size: 5vh;
    }

    .testItem{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
    }

    .testHline {
        width: 60%;
    }

    .testImg > img {
        opacity: 1;
        width: 30vh;
    }

    .testImg{
        width: 33%;
        display: flex;
        justify-content: end;
        text-align: center;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .bgImg{
        background-color: #ffc86b;
        width: 28vh;
        height: 29vh;
        position: absolute;
        z-index: -1;
        bottom: 0;
        border-radius: 3vh 0 0 3vh;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1439px){
    .logo {
        width: 10%;
        opacity: 1;
        padding: 1vh;
        display: flex;
        justify-content: center;
    }

    .logo > img {
        width: 10vh;
    }

    .op {
        width: 82%;
        gap: 3vh;
        margin: 0 auto;
        font-size: 4vh;
    }

    .buscar {
        width: 8%;
        gap: 6px;
        margin: 0 2vh 0 0;
    }

    .buscar > input {
        width: 100%;
        height: 7vh;
        font-size: 3vh;
        z-index: 1;
    }

    .buscar > i {
        font-size: 2vh;
        padding-right: 0.5vh;
        z-index: 1;
    }

    #intro {
        padding: 60vh 0 0 3vh;
    }

    .introImg > div {
        margin: 0 2vh 1vh 0;
    }

    .introImg > img {
        width: 70vh;
    }

    .vLine {
        height: 20vh;
        border: solid 2px #ffc86b;
        border-radius: 2vh;
    }

    .introVline > a{
        font-size: 5vh;
    }

    .introText{
        font-size: 6vh;
        margin: -50vh 0 0 20vh;
    }
    
    .introText > a{
        padding: 2vh;
    }

    .introTitle {
        margin-bottom: -12vh;
    }

    #port > h1,
    #aboutMe > h1,
    #habs > div > h1,
    #exp > h1,
    #test > h1,
    #contact > div > h1{
        font-size: 9vh;
    }

    .abMText {
        margin: 0 30vh 0 10vh;
    }

    .abMText > p{
        font-size: 35px;
        margin: 0vh 0 0 0;
    }

    .hLine{
        margin: 3vh 1vh 0 0;
    }

    .gridImage {
        background-color: #3d3e42;
        display: flex;
        width: 40vh;
        height: 40vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 2vh;
    }
    
    .gridImage:hover{
        background-color: #ffc86b;
        transition: all ease 800ms;
    }
    
    .gridImage > a{
        font-size: 20px;
        text-decoration: none;
    }
    
    .gridImage > a > img{
        width: 20vh;
        height: 20vh;
    }
    
    .gridImage > a > p{
        font-size: 3vh;
        height: 20px;
    }
    
    .one{
        grid-column: 1/4;
        grid-row: 1;
    }
    
    .two{
        grid-column: 2/4;
        grid-row: 1;
    }

    .three{
        grid-column: 3/4;
        grid-row: 1;
    }

    .four{
        grid-column: 4/4;
        grid-row: 1;
    }

    .portItem{
        margin-bottom: 0;
    }

    #skills{
        gap: 4vh;
    }

    .dot1{
        width: 50vh;
        height: 50vh;
        margin: -35vh 0 0 0;
        right: 0;
    }

    .imgPort{
        width: 60vh;
    }

    .portItems{
        display: flex;
        gap: 2vh;
    }

    .btnPort{
        height: 7vh;
        width: 19vh;
        font-size: 25px;
    }

    #port > a {
        margin-top: 2vh;
    }

    .redirect1 h3,
    .redirect2 h3,
    .redirect3 h3 {
        font-size: 2.5vh;
        margin-bottom: -1.4vh;
    }

    .redirect1 p,
    .redirect2 p,
    .redirect3 p {
        font-size: 2vh;
    }

    #exp{
        height: 10rem;
    }

    .expText > h3{
        font-size: 3.4vh;
    }

    .expText > h5 {
        font-size: 2.5vh;
    }

    #exp > h1{
        margin: -40px 0 0 2vh;
    }

    .expItem > p{
        width: 8vh;
        height: 4vh;
        font-size: 3vh;
        margin-top: 16px;
    }

    .sep{
        margin: 2vh 0 0 0;
    }

    .dot{
        border: solid 12px #ffc86b;
        margin: 1vh 1vh 0 1vh;
    }

    .expVLine{
        border: solid 2px #FFFFFF;
        width: 0;
        height: 10vh;
        border-radius: 2vh;
        margin: 1vh 0 0 2.6vh;
    }

    .expText{
        margin-top: 0vh;
    }
    
    .expText > p{
        margin-top: -3vh;
        font-size: 3.2vh;
    }

    .hlineSubject1 > p{
        font-size: 30px;
        padding-right: 5vh;
    }

    .hlineSubject1 > div{
        margin: 7.5vh 1vh 0 0;
    }

    .hlineSubject2 > p{
        font-size: 30px;
    }

    .hlineSubject2 > div > p{
        font-size: 28px;
    }

    .hlineSubject2 > div {
        margin: -8vh 0 0 0;
    }

    .testItem{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
    }

    .testHline {
        width: 75%;
    }

    .testImg > img {
        opacity: 1;
        width: 50vh;
    }

    .testImg{
        width: 33%;
        display: flex;
        justify-content: end;
        text-align: center;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .bgImg{
        background-color: #ffc86b;
        width: 50vh;
        height: 50vh;
        position: absolute;
        z-index: -1;
        bottom: 0;
        border-radius: 3vh 0 0 3vh;
    }

    #contact {
        height: 10rem;
    }

    .hline1{
        width: 39%;
    }

    .hline2{
        width: 39%;
    }

    .hline3{
        width: 47%;
    }

    .hline4{
        width: 47%;
    }

    .compContact > h1{
        position: relative;
        margin-top: -35px;
        width: 22%;
    }

    .contactFoot{
        font-size: 5vh;
        margin-bottom: -3vh;
    }

    .icons {
        display: flex;
        flex-direction: row;
    }

    .icons > div{
        width: 40vh;
        font-size: 3vh;
    }

    .footer > h1{
        font-size: 5vh;
    }
}

@media screen and (min-width: 1440px) {
    .logo {
        width: 10%;
        opacity: 1;
        padding: 1vh;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .logo > img {
        width: 10vh;
    }

    .op {
        width: 64%;
        gap: 3vh;
        margin: 0 auto;
        font-size: 3.5vh;
    }

    .buscar {
        width: 16%;
        gap: 6px;
        margin: 0 2vh 0 0;
    }

    .buscar > input {
        width: 100%;
        height: 6vh;
        font-size: 3vh;
        z-index: 1;
    }

    .buscar > i {
        font-size: 3vh;
        margin-right: 3.5vh;
        z-index: 1;
    }

    #intro {
        padding: 90vh 0 0 3vh;
    }

    .introImg > div {
        margin: 0 2vh 2vh 0;
    }

    .introImg > img {
        width: 90vh;
    }

    .vLine {
        height: 20vh;
        border: solid 2px #ffc86b;
        border-radius: 2vh;
    }

    .introVline > a{
        font-size: 3vh;
    }

    .introText{
        font-size: 5vh;
        margin: -60vh 0 0 25vh;
    }

    .introTitle {
        margin-bottom: -10vh;
    }

    .introText > a {
        border: solid 4px #ffc86b;
        color: #ffc86b;
        padding: 1.5vh;
        text-decoration: none;
        border-radius: 0.5vh;
    }

    #port > h1,
    #aboutMe > h1,
    #habs > div > h1,
    #exp > h1,
    #test > h1,
    #contact > div > h1{
        font-size: 6vh;
    }
    
    .abMText {
        margin: 0 40vh 0 20vh;
    }

    .abMText > p{
        font-size: 35px;
        margin: 0vh 0 0 0;
    }

    .hLine{
        margin: 1.5vh 1vh 0 0;
    }

    .gridImage {
        background-color: #3d3e42;
        display: flex;
        width: 40vh;
        height: 40vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 2vh;
    }
    
    .gridImage:hover{
        background-color: #ffc86b;
        transition: all ease 800ms;
    }
    
    .gridImage > a{
        font-size: 20px;
        text-decoration: none;
    }
    
    .gridImage > a > img{
        width: 20vh;
        height: 20vh;
    }
    
    .gridImage > a > p{
        font-size: 3vh;
        height: 20px;
    }
    
    .one{
        grid-column: 1/3;
        grid-row: 1;
    }
    
    .two{
        grid-column: 2/3;
        grid-row: 1;
    }

    .three{
        grid-column: 3/3;
        grid-row: 1;
    }

    .dot1{
        width: 50vh;
        height: 60vh;
        margin: -45vh 0 0 0;
        right: 0;
    }

    .imgPort{
        width: 60vh;
    }

    .portItems{
        display: flex;
        gap: 2vh;
    }

    .btnPort{
        height: 5vh;
        width: 15vh;
        font-size: 30px;
    }

    .redirect1 h3,
    .redirect2 h3,
    .redirect3 h3 {
        font-size: 2.5vh;
        margin-bottom: -1.4vh;
    }

    .redirect1 p,
    .redirect2 p,
    .redirect3 p {
        font-size: 2vh;
    }

    #exp{
        height: 18rem;
    }

    .expText{
        margin-top: -2.3vh;
    }

    .expText > h3{
        font-size: 3vh;
    }

    .expText > h5 {
        font-size: 2vh;
    }

    #exp > h1{
        margin: -35px 0 0 2vh;
    }

    .expItem > p{
        width: 8vh;
        height: 4vh;
        font-size: 3vh;
    }

    .sep{
        margin: -1vh 0 0 0;
    }

    .dot{
        border: solid 15px #ffc86b;
        margin: 1vh 1vh 0 1vh;
    }

    .expVLine{
        border: solid 2px #FFFFFF;
        width: 0;
        height: 8vh;
        border-radius: 2vh;
        margin: 0.8vh 0 0 2.4vh;
    }
    
    .expText > p{
        margin-top: -1.5vh;
        font-size: 3vh;
    }

    .hlineSubject1 > p{
        font-size: 30px;
        padding-right: 5vh;
    }

    .hlineSubject1 > div{
        margin: 5vh 1vh 0 0;
    }

    .hlineSubject2 > p{
        font-size: 30px;
    }

    .hlineSubject2 > div > p{
        font-size: 28px;
    }

    .hlineSubject2 > div {
        margin: -4vh 0 0 0;
    }

    .testItem{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
    }

    .testHline {
        width: 75%;
    }

    .testImg > img {
        opacity: 1;
        width: 40vh;
    }

    .testImg{
        width: 33%;
        display: flex;
        justify-content: end;
        text-align: center;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    .bgImg{
        background-color: #ffc86b;
        width: 40vh;
        height: 40vh;
        position: absolute;
        z-index: -1;
        bottom: 0;
        border-radius: 3vh 0 0 3vh;
    }

    #contact {
        height: 18rem;
    }

    .hline1{
        width: 39%;
    }

    .hline2{
        width: 39%;
    }

    .hline3{
        width: 47%;
    }

    .hline4{
        width: 47%;
    }

    .compContact > h1{
        position: relative;
        margin-top: -35px;
        width: 22%;
    }

    .contactFoot{
        font-size: 5vh;
        margin-bottom: -3vh;
    }

    .icons {
        display: flex;
        flex-direction: row;
    }

    .icons > div{
        width: 40vh;
        font-size: 3vh;
    }

    .footer > h1{
        font-size: 5vh;
    }
}



